localhost:8082
secrets .secrets.yml root 4242
log ./log/access.log
basicauth /ids/v1/ alfredo asdfasdf
authz ./authz_model.conf ./policies_authz.csv
awscloudwatch aqfer.io development 65536
awsdynamodb
